* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* contar a partir da borda */
}

a {
   text-decoration: none;
 }

html {
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-dark: #364FC7;
}
body.dark-blue {
  --bg-color:#00082F;
  --text-color:#FFFFFF;
}

body.pink {
  --bg-color:#FFF0F6;
  --text-color:#1F000B;
  --primary-color: #D6336C ;
  --primary-color-dark:#A61E4D;
}

body.dark-pink {
  --bg-color: #1F000B;
  --text-color:#FFFFFF;
  --primary-color: #D6336C;
  --primary-color-dark:#A61E4D;
}

body.dark-red {
  --bg-color: #1F000B;
  --text-color:#FFFFFF;
  --primary-color: #bb052c;
  --primary-color-dark:#ff0037; 
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  border: 7px;
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 3.7px;
  border: 4px solid var(--primary-color);
}

h1.title {

  	font: 700 2em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 80 0 0px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(https://www.imagemhost.com.br/images/2022/07/11/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}
ul {
  list-style: none;
  margin: 48px 0;
}

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

ul li a {
  display: flex;
  height: 53px;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 400ms;
}
 ul li a:hover {
   background: var(--primary-color-dark);
 }
footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;

  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--primary-color)
}